<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="teamjoeys.dbms.umkc.challenge" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".About"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".Pushup"
            android:label="@string/title_activity_pushup" >
        </activity>
        <activity
            android:name=".Challenge_Menu"
            android:label="@string/title_activity_challenge__menu" >
        </activity>
        <activity
            android:name=".Pushup_tutorial"
            android:label="@string/title_activity_pushup_tutorial" >
        </activity>
        <activity
            android:name=".PacerRunActivity"
            android:label="@string/pacer" >
        </activity>
    </application>

</manifest>
